templates/_includes/_case-studies.jade
{% set caseStudies = craft.entries().section('caseStudies').all() %}
{% if caseStudies | length %}
section.break-pw.case-studies
    .u-max-m
        .row
            .col.col--18-of-24.col--centered
                .swiper-container
                    .swiper-wrapper
                        {% for slide in caseStudies %}
                        .swiper-slide
                            .row
                                .col.col--1-of-2
                                    .content
                                        a(href="{{ slide.getUrl() }}")
                                            h2 {{ slide.abstractTitle }}
                                        {{ slide.abstractContent }}
                                        a.btn.inline(href="{{ slide.getUrl() }}") Read more
                                        
                                .col.col--1-of-2
                                    {% for asset in slide.abstractImage.all() %}
                                    figure.aspect-ratio-3x2
                                        a(href="{{ slide.getUrl() }}")
                                            img(src="{{ asset.getUrl('threeByTwo') }}")
                                    {% endfor %}
                        {% endfor %}
        .row
            .col.col--18-of-24.col--centered
                .relative
                    .prev
                        i.fas.fa-chevron-left
                    .swiper-navigation.swiper-container
                        .swiper-wrapper
                            {% for slide in caseStudies %}
                            {% for asset in slide.abstractImage.all() %}    
                            .swiper-slide
                                img(src="{{ asset.getUrl('threeByTwo') }}")
                                p.u-text-center {{ slide.title }}
                            {% endfor %}   
                            {% endfor %}
                    .next
                        i.fas.fa-chevron-right
{% endif %}

templates/_includes/_case-studies.html
{% set caseStudies = craft.entries().section('caseStudies').all() %}
{% if caseStudies | length %}<section class="break-pw case-studies"><div class="u-max-m"><div class="row"><div class="col col--18-of-24 col--centered"><div class="swiper-container"><div class="swiper-wrapper">{% for slide in caseStudies %}<div class="swiper-slide"><div class="row"><div class="col col--1-of-2"><div class="content"><a href="{{ slide.getUrl() }}"><h2>{{ slide.abstractTitle }}</h2></a>{{ slide.abstractContent }}<a href="{{ slide.getUrl() }}" class="btn inline">Read more</a></div></div><div class="col col--1-of-2">{% for asset in slide.abstractImage.all() %}<figure class="aspect-ratio-3x2"><a href="{{ slide.getUrl() }}"><img src="{{ asset.getUrl('threeByTwo') }}"/></a></figure>{% endfor %}</div></div></div>{% endfor %}</div></div></div></div><div class="row"><div class="col col--18-of-24 col--centered"><div class="relative"><div class="prev"><i class="fas fa-chevron-left"></i></div><div class="swiper-navigation swiper-container"><div class="swiper-wrapper">{% for slide in caseStudies %}
{% for asset in slide.abstractImage.all() %}    <div class="swiper-slide"><img src="{{ asset.getUrl('threeByTwo') }}"/><p class="u-text-center">{{ slide.title }}</p></div>{% endfor %}   
{% endfor %}</div></div><div class="next"><i class="fas fa-chevron-right"></i></div></div></div></div></div></section>{% endif %}
