templates/_includes/_grid.jade
section.break-pw.grid
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .row.intro
                    .col.col--10-of-20.text
                        h2 {{ block.gridTitle }}
                        {{ block.gridContent }}
                    .col.col--3-of-20.col--push-7-of-20.icon
                        {% for asset in block.gridImage.limit(1) %}
                        {% if asset | length %}
                        figure.aspect-ratio-1x1
                            img(src="{{ asset.getUrl('thumb')}}")
                        {% endif %}
                        {% endfor %}
                .row 
                    .items
                        {% for item in block.gridItems %}
                        .col.col--5-of-20(data-aos="fade-up")
                            .item
                                .image
                                    figure.aspect-ratio-1x1 
                                        {% for itemAsset in item.itemImage.limit(1) %}
                                        {% if itemAsset | length %}
                                        img(src="{{ itemAsset.getUrl() }}")
                                        {% endif %}
                                        {% endfor %}
                        {% endfor %}

templates/_includes/_grid.html
<section class="break-pw grid"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><div class="row intro"><div class="col col--10-of-20 text"><h2>{{ block.gridTitle }}</h2>{{ block.gridContent }}</div><div class="col col--3-of-20 col--push-7-of-20 icon">{% for asset in block.gridImage.limit(1) %}
{% if asset | length %}<figure class="aspect-ratio-1x1"><img src="{{ asset.getUrl('thumb')}}"/></figure>{% endif %}
{% endfor %}</div></div><div class="row"> <div class="items">{% for item in block.gridItems %}<div data-aos="fade-up" class="col col--5-of-20"><div class="item"><div class="image"><figure class="aspect-ratio-1x1"> 
{% for itemAsset in item.itemImage.limit(1) %}
{% if itemAsset | length %}<img src="{{ itemAsset.getUrl() }}"/>{% endif %}
{% endfor %}</figure></div></div></div>{% endfor %}</div></div></div></div></div></section>
