templates/_includes/_large-call-to-action.jade
section.break-pw.large-call-to-action(class="{{ block.lctaBackgroundColour }}")
    .u-max-m
        .row(data-aos="fade-up")
            .col.col--20-of-24.col--push-2-of-24
                .row 
                    .col.col--8-of-20
                        h4 {{ block.lctaSubtitle }}
                        h2 {{ block.lctaTitle }}
                        {{ block.lctaContent }}
                        {% if block.lctaButton | length %}
                        a.btn.v-btn-primary(href="{{ block.lctaButton.getUrl() }}") {{ block.lctaButton.getText() }}
                        {% endif %}

                    .col.col--10-of-20.col--push-2-of-20.image
                        {% for asset in block.lctaImage.all() %}
                        figure.aspect-ratio-3x2
                            img(src="{{ asset.getUrl() }}")
                        {% endfor %}

templates/_includes/_large-call-to-action.html
<section class="break-pw large-call-to-action {{ block.lctaBackgroundColour }}"><div class="u-max-m"><div data-aos="fade-up" class="row"><div class="col col--20-of-24 col--push-2-of-24"><div class="row"> <div class="col col--8-of-20"><h4>{{ block.lctaSubtitle }}</h4><h2>{{ block.lctaTitle }}</h2>{{ block.lctaContent }}
{% if block.lctaButton | length %}<a href="{{ block.lctaButton.getUrl() }}" class="btn v-btn-primary">{{ block.lctaButton.getText() }}</a>{% endif %}</div><div class="col col--10-of-20 col--push-2-of-20 image">{% for asset in block.lctaImage.all() %}<figure class="aspect-ratio-3x2"><img src="{{ asset.getUrl() }}"/></figure>{% endfor %}</div></div></div></div></div></section>
