templates/_includes/_news-holder.html
<!-- get all the cards-->{% set cards = craft.entries().section('news').limit(3) %}
{% if cards | length %}<section class="break-pw news-holder"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered u-text-center"><h2 class="h1">News</h2></div><div class="col col--20-of-24 col--centered u-margin-top-m"><div class="news-card-holder"><div class="row u-flex u-flex__space">{% for card in cards %}<div class="col col--1-of-3"><article data-aos="fade-up" class="card border-shadow"><time>{{ card.datePosted | date('d/m/Y') }}</time><h2>{{ card.title | chop(unit='c', limit='30' ) }}{% if card.title | length > 30 %}...{% endif %}</h2><p>{{ card.newsContent | chop(unit='c', limit='100') }}{% if card.newsContent | length > 100 %}...{% endif %}</p><a href="{{ card.getUrl() }}" class="btn">Read more</a></article></div>{% endfor %}</div></div></div></div></div></section><section class="break-pw pagination"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered u-text-right"><a href="{{ siteUrl }}news" class="link-to right">All news<i class="fas fa-chevron-right">                  </i></a></div></div></div></section>{% endif %}

templates/_includes/_news-holder.jade
// get all the cards
{% set cards = craft.entries().section('news').limit(3) %}
{% if cards | length %}

section.break-pw.news-holder
    .u-max-m
        .row
            .col.col--20-of-24.col--centered.u-text-center
                h2.h1 News
            .col.col--20-of-24.col--centered.u-margin-top-m
                .news-card-holder
                    .row.u-flex.u-flex__space
                        {% for card in cards %}
                        .col.col--1-of-3
                            article.card.border-shadow(data-aos="fade-up")
                                
                                time {{ card.datePosted | date('d/m/Y') }}
                                h2 {{ card.title | chop(unit='c', limit='30' ) }}{% if card.title | length > 30 %}...{% endif %}
                                p {{ card.newsContent | chop(unit='c', limit='100') }}{% if card.newsContent | length > 100 %}...{% endif %}
                                a.btn(href="{{ card.getUrl() }}") Read more
                        {% endfor %}

section.break-pw.pagination
    .u-max-m
        .row
            .col.col--20-of-24.col--centered.u-text-right
                a.link-to.right(href="{{ siteUrl }}news") All news
                    i.fas.fa-chevron-right                   
{% endif %}
