templates/_includes/_page-content.html
<section class="break-pw page-content {% if block.removePaddingBottom == 1 %}u-padding-remove-bottom{% endif %}"><div class="u-max-m"><div data-aos="fade-up" class="row">{% if block.twoColumn %}<div class="col col--20-of-24 col--centered">{% if block.pageTitle | length %}<h2>{{ block.pageTitle }}</h2>{% endif %}<div class="two-col">{{ block.pageContent }}</div></div>{% else %}<div class="col col--20-of-24 col--centered"><header> 
{% if block.pageTitle | length %}<h2>{{ block.pageTitle }}</h2>{% endif %}<div class="one-col">{{ block.pageContent }}</div></header></div>{% endif %}</div></div></section>

templates/_includes/_page-content.jade

section.break-pw.page-content(class="{% if block.removePaddingBottom == 1 %}u-padding-remove-bottom{% endif %}")
    .u-max-m
        .row(data-aos="fade-up")
            {% if block.twoColumn %}
            .col.col--20-of-24.col--centered
                {% if block.pageTitle | length %}
                h2 {{ block.pageTitle }}
                {% endif %}
                .two-col
                    {{ block.pageContent }}

            {% else %}
            .col.col--20-of-24.col--centered
                header 
                    {% if block.pageTitle | length %}
                    h2 {{ block.pageTitle }}
                    {% endif %}
                    .one-col
                        {{ block.pageContent }}
            {% endif %}
