templates/_includes/_swiper-content.html
{% if block.slides | length > 1 %}<section class="break-pw swiper-content"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><div class="swiper-container"><div class="swiper-wrapper">{% for slide in block.slides %}
{% if slide.slideImage.all() | length %}<div data-navtitle="{{ slide.navigationTitle }}" class="swiper-slide"><div class="row"><div class="col col--6-of-18"><div class="content"><h2>{{ slide.slideTitle }}</h2>{{ slide.slideContent }}
{% if not slide.slideButton.isEmpty() %}<a href="{{slide.slideButton.getUrl()}}" class="btn inline">{{ slide.slideButton.getText() }}</a>{% endif %}</div></div><div class="col col--10-of-18 col--push-2-of-18">{% for asset in slide.slideImage.all() %}<figure class="aspect-ratio-3x2">{% if slide.externalVideo is not empty %}<a href="{{slide.externalVideo}}" target="_blank"></a><img src="{{ asset.getUrl() }}"/>{% else %}<img src="{{ asset.getUrl() }}"/>{% endif %}</figure>{% endfor %}</div></div></div>{% else %}<div class="swiper-slide"><div class="row"><div class="col col--12-of-18 col--centered u-text-center"><div class="content"><h2>{{ slide.slideTitle }}</h2>{{ slide.slideContent }}</div></div></div></div>{% endif %}
{% endfor %}</div></div></div></div></div><div class="navigation"><div class="u-max-m"><div class="row"><div class="col col--12-of-24 col-left mob-half-wid"><div class="nav prev u-text-left"><p>Previous<i class="fas fa-chevron-left"></i></p></div></div><div class="col col--12-of-24 col-right mob-half-wid"><div class="nav next u-text-right"><p>Next<i class="fas fa-chevron-right"></i></p></div></div></div></div></div></section>{% endif %}

templates/_includes/_swiper-content.jade
{% if block.slides | length > 1 %}
section.break-pw.swiper-content
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .swiper-container
                    .swiper-wrapper
                        {% for slide in block.slides %}
                        {% if slide.slideImage.all() | length %}
                        .swiper-slide(data-navtitle="{{ slide.navigationTitle }}" )
                            .row
                                .col.col--6-of-18
                                    .content
                                        h2 {{ slide.slideTitle }}
                                        {{ slide.slideContent }}
                                        {% if not slide.slideButton.isEmpty() %}
                                        a.btn.inline(href="{{slide.slideButton.getUrl()}}") {{ slide.slideButton.getText() }}
                                        {% endif %}

                                .col.col--10-of-18.col--push-2-of-18
                                    {% for asset in slide.slideImage.all() %}
                                    figure.aspect-ratio-3x2
                                        {% if slide.externalVideo is not empty %}
                                        a(href="{{slide.externalVideo}}" target="_blank")
                                        img(src="{{ asset.getUrl() }}")
                                        {% else %}
                                        img(src="{{ asset.getUrl() }}")
                                        {% endif %}
                                    {% endfor %}
                        {% else %}
                        .swiper-slide
                            .row
                                .col.col--12-of-18.col--centered.u-text-center
                                    .content
                                        h2 {{ slide.slideTitle }}
                                        {{ slide.slideContent }}

                        {% endif %}
                        {% endfor %}
    .navigation
        .u-max-m
            .row
                .col.col--12-of-24.col-left.mob-half-wid
                    .nav.prev.u-text-left
                        p Previous
                            i.fas.fa-chevron-left
                .col.col--12-of-24.col-right.mob-half-wid
                    .nav.next.u-text-right
                        p Next
                            i.fas.fa-chevron-right

 
{% endif %}
