templates/_includes/_three-block-row.jade
section.break-pw.three-block-row
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .u-flex.u-flex__space.u-flex__wrap
                    {% for card in block.linkedPages %}
                    .card(data-aos="fade-up")
                        .background
                            {% for asset in card.abstractImage %}
                            {% if asset %}
                            figure.aspect-ratio-3x2
                                img(src="{{ asset.getUrl() }}")
                            {% endif %}
                            {% endfor %}
                            .content
                                h2 {{ card.abstractTitle | default(card.title) }}
                                {% if card.abstractButton | length %}
                                a.btn.v-btn-tertiary.alt(href="{{ card.getUrl() }}") Read more
                                {% endif %}
                            
                    {% endfor %}
                    .card
                    .card

templates/_includes/_three-block-row.html
<section class="break-pw three-block-row"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><div class="u-flex u-flex__space u-flex__wrap">{% for card in block.linkedPages %}<div data-aos="fade-up" class="card"><div class="background">{% for asset in card.abstractImage %}
{% if asset %}<figure class="aspect-ratio-3x2"><img src="{{ asset.getUrl() }}"/></figure>{% endif %}
{% endfor %}<div class="content"><h2>{{ card.abstractTitle | default(card.title) }}</h2>{% if card.abstractButton | length %}<a href="{{ card.getUrl() }}" class="btn v-btn-tertiary alt">Read more</a>{% endif %}</div></div></div>{% endfor %}<div class="card"></div><div class="card"></div></div></div></div></div></section>
