templates/_includes/_two-card-grid.jade
section.break-pw.two-card-grid
    .u-max-m
        .row
            .col.col--20-of-24.col--push-2-of-24
                .row 
                    {% for card in block.grid %}
                    .col.col--10-of-20.card(data-aos="fade-up")
                        .background
                            {% for asset in card.cardImage.limit(1) %}
                            {% if asset %}
                            .aspect-ratio-3x1(style="background: url({{ asset.getUrl('threeByOne') }}")
                            {% endif %}
                            .content
                                h2 {{ card.cardTitle }}
                                {% if card.cardButton | length %}
                                a.btn.v-btn-tertiary.alt(href="{{ card.cardButton.getUrl() }}") {{ card.cardButton.getText() }}
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                    

templates/_includes/_two-card-grid.html
<section class="break-pw two-card-grid"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--push-2-of-24"><div class="row"> 
{% for card in block.grid %}<div data-aos="fade-up" class="col col--10-of-20 card"><div class="background">{% for asset in card.cardImage.limit(1) %}
{% if asset %}<div style="background: url({{ asset.getUrl('threeByOne') }}" class="aspect-ratio-3x1"></div>{% endif %}<div class="content"><h2>{{ card.cardTitle }}</h2>{% if card.cardButton | length %}<a href="{{ card.cardButton.getUrl() }}" class="btn v-btn-tertiary alt">{{ card.cardButton.getText() }}</a>{% endif %}</div>{% endfor %}</div></div>{% endfor %}</div></div></div></div></section>
