templates/_includes/_video-cta.html
<section class="break-pw video-cta"><div class="u-max-m"><div data-aos="fade-up" class="float-box"><div class="row"><div class="col col--20-of-24 col--centered"><div class="border-shadow box"><div class="videoWrapper"><iframe src="https://www.youtube.com/embed/_oMT5qpEmUk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div><div class="content"><div class="padding"><h2>{{ block.ctaTitle }}</h2><h3>{{ block.ctaContent }}</h3>{% if block.ctaButton.getUrl() is defined%}<a href="{{ block.ctaButton.getUrl() }}" class="btn inline">{{ block.ctaButton.getText() }}</a>{% endif %}</div></div></div></div></div></div></div></section>

templates/_includes/_video-cta.jade
section.break-pw.video-cta
    .u-max-m
        .float-box(data-aos="fade-up")
            .row
                .col.col--20-of-24.col--centered
                    .border-shadow.box

                        .videoWrapper
                            <iframe src="https://www.youtube.com/embed/_oMT5qpEmUk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .content
                            .padding
                                h2 {{ block.ctaTitle }}
                                h3 {{ block.ctaContent }}
                                {% if block.ctaButton.getUrl() is defined%}
                                a.btn.inline(href="{{ block.ctaButton.getUrl() }}") {{ block.ctaButton.getText() }}
                                {% endif %}
