templates/_includes/selected-team.html
<section class="break-pw team-members"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><h2 class="u-text-center">{{ block.heading }}</h2></div></div><div class="row u-flex u-flex__space"><div class="col col--20-of-24 col--centered"><div class="row team-member-holder">{% for entries in block.chooseMember %}
{% for member in entries.members %}<div class="col col--4-of-20">{% set image = "" %}
{% for asset in member.staffImage.all() %}
{% set image = asset.getUrl('teamFaceShot') %}   
{% endfor %}<article data-content="{{ member.staffContent }}" data-name="{{ member.staffName }}" data-position="{{ member.staffPosition }}" data-image="{{ image }}" class="member"><figure class="aspect-ratio-1x1">{% for asset in member.staffImage.all() %}<img src="{{ asset.getUrl('teamMembers') }}"/>{% endfor %}</figure><div class="row"> <div class="col col--3-of-3 col--centered content u-text-center"> <p>{{ member.staffName }}</p><h4>{{ member.staffPosition }}</h4></div></div></article></div>{% endfor %}
{% endfor %}<div class="col col--4-of-22"></div><div class="col col--4-of-22"></div></div></div></div></div></section><div id="overlay" class="team-overlay"><div class="u-max-m"><div class="row"><div class="col col--3-of-4 col--centered"><article id="memberHighlight" class="member-showcase"> <div class="row"><div class="col col--24-of-24"><div class="controls"><i class="close fas fa-times"></i></div><div class="header u-text-center"><p id="name"></p><h4 id="position"></h4></div><div class="row"><div class="col col--2-of-4 col--centered"><figure class="aspect-ratio-1x1">{% for asset in team.members.one().staffImage.limit(1) %}<img id="image"/>{% endfor %}</figure></div></div><div id="content" class="content u-text-center"><p></p></div></div></div></article></div></div></div></div>

templates/_includes/selected-team.jade
section.break-pw.team-members
    
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                h2.u-text-center {{ block.heading }}
        .row.u-flex.u-flex__space
            .col.col--20-of-24.col--centered
                .row.team-member-holder
                    {% for entries in block.chooseMember %}
                    {% for member in entries.members %}
                    .col.col--4-of-20
                        {% set image = "" %}
                        {% for asset in member.staffImage.all() %}
                        {% set image = asset.getUrl('teamFaceShot') %}   
                        {% endfor %}
                        article.member(data-content="{{ member.staffContent }}" data-name="{{ member.staffName }}" data-position="{{ member.staffPosition }}" data-image="{{ image }}")
                            figure.aspect-ratio-1x1
                                {% for asset in member.staffImage.all() %}
                                img(src="{{ asset.getUrl('teamMembers') }}")   
                                {% endfor %}
                            .row 
                                .col.col--3-of-3.col--centered.content.u-text-center 
                                    p {{ member.staffName }}
                                    h4 {{ member.staffPosition }}
                    {% endfor %}
                    {% endfor %}
                    .col.col--4-of-22
                    .col.col--4-of-22

#overlay.team-overlay
    .u-max-m
        .row
            .col.col--3-of-4.col--centered
                article#memberHighlight.member-showcase 
                    .row
                        .col.col--24-of-24
                            .controls
                                i.close.fas.fa-times
                            .header.u-text-center
                                p#name
                                h4#position
                            .row
                                .col.col--2-of-4.col--centered
                                    figure.aspect-ratio-1x1
                                        {% for asset in team.members.one().staffImage.limit(1) %}
                                        img#image
                                        {% endfor %}
                            .content.u-text-center#content
                                p
