templates/contact/_contact.jade
section.break-pw.contact
    .u-max-m
        .row
            .col.col--24-of-24.u-text-center
                h2 Get in touch
                p For grant enquiries please email 
                    a(href="mailto:grants@jerseycommunityfoundation.org") grants@jerseycommunityfoundation.org
        .row    
            .col.col--15-of-24.col--centered
                |{% macro errorList(errors) %}
                |{% if errors %}
                <ul class="errors">
                |{% for error in errors %}
                <li>{{ error }}</li>
                |{% endfor %}
                </ul>
                |{% endif %}
                |{% endmacro %}
                |{% from _self import errorList %}
                form(method="post" action="" accept-charset="UTF-8")
                    .row
                        .col
                            |{{ csrfInput() }}
                            input( type="hidden" name="action" value="contact-form/send")
                            |{{ redirectInput('contact/thanks') }}
                    .row
                        .col.col--7-of-15
                            label I am interested in
                                span.warning *
                            .input     
                                select(id="interested" name="message[Interests][]" required) 
                                    option(value="") -- please select below --
                                    option(value="Become donor") Becoming a donor
                                    option(value="Establish fund") Establishing a fund
                                    option(value="Corporate giving") Corporate giving
                                    option(value="Applying for a grant") Applying for a grant
                                span.fas.fa-check

                        .col.col--7-of-15.col--push-1-of-15
                            label Name
                                span.warning *
                            .input 
                                input(type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="please enter your name" required)
                                span.fas.fa-check {{ message is defined and message ? errorList(message.getErrors('fromFullName')) }}
                            
                    .row
                        .col.col--7-of-15
                            label Subject
                            .input 
                                input(type="text" name="message[Subject]" value="" placeholder="please enter the subject you are interested in")
                                span.fas.fa-check

                        .col.col--7-of-15.col--push-1-of-15
                            label E-mail
                                span.warning *
                            .input 
                                input(id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Email" required)
                                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                                span.fas.fa-check
                    .row
                        .col.col--12-of-12
                            label Message
                                span.warning *
                            textarea(rows="5" cols="40" id="message" name="message[body]" placeholder="Message" required ) {{ message.message ?? '' }}
                            {{ message is defined and message ? errorList(message.getErrors('message')) }}


                    .row
                        .col.col--7-of-15.opt-in
                            p.u-inline Opt in to our newsletter
                            .option
                                input(type="radio" name="newsletter" value="opt-in") 
                                label Opt in
                            .option
                                input(type="radio" name="newsletter" value="opt-out")
                                label Opt out
                        .col.col--3-of-15.col--push-5-of-15
                            input(type="submit" value="Submit")

                    

templates/contact/_contact.html
<section class="break-pw contact"><div class="u-max-m"><div class="row"><div class="col col--24-of-24 u-text-center"><h2>Get in touch</h2><p>For grant enquiries please email <a href="mailto:grants@jerseycommunityfoundation.org">grants@jerseycommunityfoundation.org</a></p></div></div><div class="row">   <div class="col col--15-of-24 col--centered">{% macro errorList(errors) %}
{% if errors %}
<ul class="errors">
{% for error in errors %}
<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
{% from _self import errorList %}<form method="post" action="" accept-charset="UTF-8"><div class="row"><div class="col">{{ csrfInput() }}<input type="hidden" name="action" value="contact-form/send"/>{{ redirectInput('contact/thanks') }}</div></div><div class="row"><div class="col col--7-of-15"><label>I am interested in<span class="warning">*</span></label><div class="input">    <select id="interested" name="message[Interests][]" required="required"> <option value="">-- please select below --</option><option value="Become donor">Becoming a donor</option><option value="Establish fund">Establishing a fund</option><option value="Corporate giving">Corporate giving</option><option value="Applying for a grant">Applying for a grant</option></select><span class="fas fa-check"></span></div></div><div class="col col--7-of-15 col--push-1-of-15"><label>Name<span class="warning">*</span></label><div class="input"> <input type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="please enter your name" required="required"/><span class="fas fa-check">{{ message is defined and message ? errorList(message.getErrors('fromFullName')) }}</span></div></div></div><div class="row"><div class="col col--7-of-15"><label>Subject</label><div class="input"> <input type="text" name="message[Subject]" value="" placeholder="please enter the subject you are interested in"/><span class="fas fa-check"></span></div></div><div class="col col--7-of-15 col--push-1-of-15"><label>E-mail<span class="warning">*</span></label><div class="input"> <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Email" required="required"/>{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}<span class="fas fa-check"></span></div></div></div><div class="row"><div class="col col--12-of-12"><label>Message<span class="warning">*</span></label><textarea rows="5" cols="40" id="message" name="message[body]" placeholder="Message" required="required">{{ message.message ?? '' }}</textarea>{{ message is defined and message ? errorList(message.getErrors('message')) }}</div></div><div class="row"><div class="col col--7-of-15 opt-in"><p class="u-inline">Opt in to our newsletter</p><div class="option"><input type="radio" name="newsletter" value="opt-in"/><label>Opt in</label></div><div class="option"><input type="radio" name="newsletter" value="opt-out"/><label>Opt out</label></div></div><div class="col col--3-of-15 col--push-5-of-15"><input type="submit" value="Submit"/></div></div></form></div></div></div></section>
