templates/contact/_thanks.jade
{% extends '_layout' %}
{% block content %}
div.u-max-m
    {% include '_includes/_header.html' %}
    main
        section.break-pw.contact
            .u-max-m
                .row
                    .col.col--24-of-24.u-text-center
                        h2 Thank you for your submission
                        p We will be in contact soon
                        a.btn.v-btn-tertiary(href='{{siteUrl}}' title='home') Return to home
{% endblock %}          

templates/contact/_thanks.html
{% extends '_layout' %}
{% block content %}<div class="u-max-m">{% include '_includes/_header.html' %}<main><section class="break-pw contact"><div class="u-max-m"><div class="row"><div class="col col--24-of-24 u-text-center"><h2>Thank you for your submission</h2><p>We will be in contact soon</p><a href="{{siteUrl}}" title="home" class="btn v-btn-tertiary">Return to home</a></div></div></div></section></main></div>{% endblock %}          
