templates/404.html
{% extends '_layout' %}
{% block content %}
{% include '_includes/_header.html' %}<div class="header-spacing"></div><section class="pageIntro padding-top padding-bottom"><div id="trigger1" class="spacer s0"></div><div id="trigger2" class="spacer s0"></div><div class="max-cont"><div class="grey-circle"></div><div class="pink-circle"></div><div class="row relative"><div class="col col--2-of-3"><h1> 404 - page not found </h1><h2 class="u-margin-top-s">Opps, something’sgone wrong!</h2></div></div><div class="row relative"><div class="col col--1-of-2 section-intro"><a href="{{ siteUrl }}" target="_self" class="button button__primary"> Home</a></div></div></div></section>{% endblock %}

templates/404.jade
| {% extends '_layout' %}
| {% block content %}
| {% include '_includes/_header.html' %}
.header-spacing
section.pageIntro.padding-top.padding-bottom
    #trigger1.spacer.s0
    #trigger2.spacer.s0
    .max-cont
        .grey-circle
        .pink-circle
        
        .row.relative
            .col.col--2-of-3
                h1  404 - page not found 
                h2.u-margin-top-s Opps, something’sgone wrong!
        .row.relative
            .col.col--1-of-2.section-intro
                
            
                a.button.button__primary(href="{{ siteUrl }}" target="_self")  Home
            
| {% endblock %}
