templates/givingHolding.jade
{% set givingPages = craft.entries().section('giving') %}
| {% extends '_layout' %}
| {% block content %}
div.u-max-m
    | {% include '_includes/_header.html' %}
    <main>
    | {% include '_matrix-includes/_giving-content.html' %}
    section.holding.break-pw
        .u-max-m
            .row
                .col.col--10-of-24.col--centered
                    .u-text-center
                        h2 {{ entry.holdingTitle}}
                        {{ entry.holdingContent }}
                    .cards  
                        {% if givingPages | length %}
                        {% for giving in givingPages.all() %}
                        .card 
                            h2 {{ giving.abstractTitle}}
                            {{ giving.abstractContent }}
                            {% if giving.abstractButton %}
                            a.btn.v-btn-tertiary.alt(href="{{ giving.abstractButton.getUrl() }}") {{ giving.abstractButton.getText() }}
                            {% endif %}
                            
                        {% endfor %}
                        {% endif %}

    </main> 
| {% endblock %}

templates/givingHolding.html
{% set givingPages = craft.entries().section('giving') %}
{% extends '_layout' %}
{% block content %}<div class="u-max-m">{% include '_includes/_header.html' %}
<main>
{% include '_matrix-includes/_giving-content.html' %}<section class="holding break-pw"><div class="u-max-m"><div class="row"><div class="col col--10-of-24 col--centered"><div class="u-text-center"><h2>{{ entry.holdingTitle}}</h2>{{ entry.holdingContent }}</div><div class="cards"> 
{% if givingPages | length %}
{% for giving in givingPages.all() %}<div class="card"> <h2>{{ giving.abstractTitle}}</h2>{{ giving.abstractContent }}
{% if giving.abstractButton %}<a href="{{ giving.abstractButton.getUrl() }}" class="btn v-btn-tertiary alt">{{ giving.abstractButton.getText() }}</a>{% endif %}</div>{% endfor %}
{% endif %}</div></div></div></div></section></main> </div>{% endblock %}
