templates/news.jade
{% extends '_layout' %}
{% block content %}
div.u-max-m
    {% include '_includes/_header.html' %}
    main
        
        section.break-pw.page-content
            .u-max-m
                .row
                    .col.col--14-of-24.col--centered 
                        time {{ entry.datePosted | date('d/m/Y') }}
                        h2 {{ entry.title }}
                        {{ entry.newsContent }}
                    
        .break-pw.back
            .u-max-m
                .prev.relative
                    i.fas.fa-chevron-left
                    a(onclick="window.history.back();") Back
    </main> 
{% endblock %}

templates/news.html
{% extends '_layout' %}
{% block content %}<div class="u-max-m">{% include '_includes/_header.html' %}<main><section class="break-pw page-content"><div class="u-max-m"><div class="row"><div class="col col--14-of-24 col--centered"> <time>{{ entry.datePosted | date('d/m/Y') }}</time><h2>{{ entry.title }}</h2>{{ entry.newsContent }}</div></div></div></section><div class="break-pw back"><div class="u-max-m"><div class="prev relative"><i class="fas fa-chevron-left"></i><a onclick="window.history.back();">Back</a></div></div></div></main></main> </div>{% endblock %}
