templates/_globals/_call-to-action.html
<section class="break-pw call-to-action"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><div data-aos="fade-up" class="cta-box"><div class="u-flex">{% for asset in callToAction.ctaImage.all %}<div style="background: url({{ asset.getUrl('threeByTwo') }}); background-size: cover; " class="col col--6-of-18 image"></div>{% endfor %}<div class="content"><h2>{{ callToAction.ctaTitle }}</h2><p>{{ callToAction.ctaContent }}</p>{% if callToAction.ctaButton %}<a href="{{callToAction.ctaButton.getUrl() }}" class="btn v-btn-white">{{ callToAction.ctaButton.getText() }}</a>{% endif %}</div></div></div></div></div></div></section>

templates/_globals/_call-to-action.jade
section.break-pw.call-to-action
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .cta-box(data-aos="fade-up")
                    .u-flex
                        {% for asset in callToAction.ctaImage.all %}
                        .col.col--6-of-18.image(style="background: url({{ asset.getUrl('threeByTwo') }}); background-size: cover; ")


                        {% endfor %}
                        .content
                            h2 {{ callToAction.ctaTitle }}
                            p {{ callToAction.ctaContent }}
                            {% if callToAction.ctaButton %}
                            a.btn.v-btn-white(href="{{callToAction.ctaButton.getUrl() }}") {{ callToAction.ctaButton.getText() }}
                            {% endif %}
